@use 'source/header';
@use 'source/search';
@use 'source/products';
@use 'source/footer';

:root{
    --color-blue-light: hsl(191, 51%, 54%);
    --color-blue: hsl(212, 51%, 54%);
    --color-white: hsl(34, 49%, 91%);
    --color-green: hsl(110, 57%, 31%);
    --color-gray:hsl(154, 7%, 19%);
}

body{
    background-color: var(--color-white);
}

.container{
    margin: auto;
    position: relative;
    width: clamp(340px, calc(100vw - 20px),  748px);
}
