@use 'source/header';
@use 'source/products';
@use 'source/footer';
@use 'source/modal';
@use 'source/login';
@use 'source/add';
@use 'source/preview';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

:root{
    --color-blue-light: hsla(0, 0%, 20%, 0.089);
    --color-blue: hsl(214, 78%, 53%);
    --color-white: hsl(36, 100%, 98%);
    --color-green: hsl(110, 57%, 31%);
    --color-gray:hsl(0, 0%, 20%);
    --color-gray-light: hsl(40, 16%, 80%);
}

body{
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: auto;
    position: relative;
    width: clamp(340px, calc(100vw - 20px),  748px);
    @media screen and (min-width: 1024px) {
        width: calc(100vw - 20px);
        max-width: 1113px;
        margin: auto;
    }
}

.not{
    visibility: hidden;
}