@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.navbar__logo-img {
  height: 2.5rem;
}
.navbar-user-btn {
  border-style: none;
  border-radius: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
}
.navbar-user-btn:hover {
  cursor: pointer;
}
.navbar-user-btn__title {
  display: none;
}
.navbar-user-btn__img {
  fill: var(--color-primary);
  transform: scale(2);
}

.post {
  height: calc(200px - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  padding-left: 0;
  color: var(--color-white);
}
.post__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.post__content {
  font-size: 0.8rem;
}
.post__content-focus {
  font-weight: 500;
  color: var(--color-secundary);
}
.post__content-focus:hover {
  text-decoration: underline;
  cursor: pointer;
}
.post-gallery {
  background-image: url(../images/header-post-octubre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 262px;
  z-index: -2;
  top: 0;
  width: 100%;
  transform-origin: center;
  transform: scale(1.1);
}
.post-gallery::before {
  content: " ";
  z-index: -1;
  inset: 0;
  position: absolute;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
  border: 2px solid var(--color-line);
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search__input {
  background-color: var(--color-gray);
  border-style: none;
  border: 1.2px solid var(--color-line);
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  height: 35px;
  margin-top: 15px;
  padding: 2px 10px;
  width: calc(100% - 20px);
  outline: none;
  color: var(--color-gray-light);
  font-weight: 500;
}
.search__icon {
  height: 20px;
  margin-top: 24px;
  position: absolute;
  right: 12px;
  stroke: var(--color-white);
  stroke-width: 3px;
}
.search-quick-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}
.search-quick-options__option {
  align-items: center;
  border-style: none;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  justify-content: center;
  height: 100px;
  text-transform: uppercase;
  border: 1.2px solid var(--color-line);
  border-radius: 5px;
  width: 32%;
  color: var(--color-white);
}
.search-quick-options__option:nth-child(1) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/star-wars.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-quick-options__option:nth-child(2) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/diversos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-quick-options__option:nth-child(3) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/consolas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-quick-options__option-icon {
  height: 30px;
  margin-bottom: 0.2rem;
  width: 30px;
  stroke-width: 2px;
}
.search-quick-options__option:hover {
  background-size: 110%;
  cursor: pointer;
  transition: background 0.5 ease;
}

.products {
  margin: 10px 0;
}
.products__title {
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-weight: 700;
  height: 80px;
  padding-left: 20px;
  text-transform: uppercase;
  color: var(--color-white);
}
.products__title-all {
  color: var(--color-secundary);
  text-transform: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.products__title-all svg {
  width: 15px;
}
.products__title-all:hover {
  cursor: pointer;
}
.products .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.products .product-container .product {
  background-color: var(--color-gray);
  border: 1px solid var(--color-line);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 10px;
  height: 210px;
  width: 130px;
}
.products .product-container .product:hover {
  cursor: pointer;
}
.products .product-container .product__img {
  border-radius: 10px;
  height: 130px;
  object-fit: cover;
  width: 130px;
}
.products .product-container .product__name {
  font-weight: bold;
  margin: 8px 0 3px;
  color: var(--color-white);
}
.products .product-container .product__price {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--color-gray-light);
}
.products .product-container .product__access {
  font-weight: 700;
  color: var(--color-secundary);
  font-size: 0.8rem;
}
.products .product-container .product__access:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content-scroller {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: start !important;
  align-items: center;
  overflow-x: auto;
  height: 280px;
}

:root {
  --color-primary:hsl(0, 0%, 4%);
  --color-secundary:hsl(214, 78%, 53%);
  --color-white:hsl(0, 0%, 90%);
  --color-gray-light: hsl(240, 1%, 47%);
  --color-gray: hsl(0, 0%, 6%);
  --color-line:hsl(0, 0%, 12%);
}

body {
  background-color: var(--color-primary);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  margin: auto;
  position: relative;
  width: clamp(340px, 100vw - 20px, 748px);
}

/*# sourceMappingURL=style.css.map */
