@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.navbar .icon {
  height: 25px;
  width: 25px;
}
.navbar .icon:hover {
  cursor: pointer;
}
.navbar-logo__logo {
  height: 38px;
}
.navbar-search-form {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-left: -1px;
  position: absolute;
  width: calc(100% - 2px);
}
.navbar-search-form .search-form__button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
}
.navbar-search-form .search-form__input {
  height: 24px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.navbar .search-form {
  display: none;
}

.post-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.post-header .post__media {
  height: 33.3333333333vw;
  max-height: 300px;
  width: clamp(340px, 100vw - 20px, 748px);
  border-radius: 10px;
  object-fit: cover;
}
.post-header .post-text {
  position: absolute;
}
.post-header .post-text__link {
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}
.post-header .post-text__title {
  text-shadow: 1px 2px 7px black;
  font-weight: 900;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  text-transform: uppercase;
}
.post-header .post-text__content {
  font-size: 0.9rem;
  margin: auto;
  width: 70%;
  text-transform: uppercase;
}
.post-header .post-text__content--link {
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  padding: 5px 8px;
  background-color: var(--color-blue);
  border-radius: 3px;
  font-weight: 300;
}

.products__title-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-gray);
  font-weight: 300;
  font-size: 1.2rem;
  margin: 15px 0;
}
.products__title-link-img {
  width: 25px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 250px;
  overflow-x: hidden;
}
.products-container .product {
  margin: 15px;
  margin-top: 0;
  margin-left: 0;
  width: 152px;
  position: relative;
  height: min-content;
}
.products-container .product:nth-child(1) {
  margin-left: 0;
}
.products-container .product__mark {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/alike.svg");
}
.products-container .product__mark--like {
  transform: scale(1.2);
  background-image: url("../images/icons/like.svg");
}
.products-container .product__mark:hover {
  cursor: pointer;
}
.products-container .product__preview {
  border-radius: 10px;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  width: 152px;
  height: 152px;
}
.products-container .product-content {
  padding: 10px;
}
.products-container .product-content__price-before {
  font-weight: 300;
  font-size: 0.7rem;
  text-decoration: line-through;
}
.products-container .product-content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  font-size: 1.05rem;
}
.products-container .product-content__descount {
  font-size: 0.7rem;
  color: var(--color-green);
}
.products-container .product-content__details {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2rem;
  height: 20px;
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .products-container {
    min-height: 275px;
  }
}
.products-scroller {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1025px) {
  .products-scroller {
    flex-wrap: wrap;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }
}
.products-scroller .card-view {
  margin: 20px;
  margin-top: 0;
  margin-left: 0;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
  animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
footer {
  background-color: var(--color-gray);
  padding: 30px 0;
}
@media screen and (min-width: 600px) {
  footer .foot-expand {
    display: flex;
    justify-content: space-around;
  }
  footer .foot-expand > div {
    margin: auto;
    width: 30%;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.options__logo {
  height: 50px;
  margin-bottom: 30px;
}
.options .navbar-footer__title {
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}
.options .navbar-footer__item {
  margin: 15px 0;
  text-align: center;
}
.options .navbar-footer__item a {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--color-gray-light);
  text-decoration: none;
  cursor: pointer;
}

.contact-me {
  margin: 5px auto;
  width: clamp(340px, 100vw - 20px, 440px);
}
.contact-me__title {
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}
.contact-me__item {
  margin: 15px 0;
  text-align: center;
}
.contact-me__item a {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--color-gray-light);
  text-decoration: none;
  cursor: pointer;
}
.contact-me__social-media {
  display: flex;
  justify-content: center;
}
.contact-me__social-media a {
  margin-right: 20px;
}
.contact-me__social-media a:nth-child(3) {
  margin: 0;
}

.copy-focus {
  color: var(--color-blue);
}

.modal-bg {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  z-index: 4;
}
.modal-bg--active {
  display: none;
}
.modal-bg .modal {
  background-color: var(--color-white);
  width: clamp(288px, 50%, 384px);
  height: 100%;
  position: absolute;
  top: 0;
  left: -100px;
  bottom: 0;
  margin: auto;
}
.modal-bg .modal__item {
  margin: 20px;
}
.modal-bg .modal__item--close {
  position: absolute;
  width: 20px;
  right: 0;
}
.modal-bg .modal__item--close:hover {
  cursor: pointer;
}
.modal-bg .modal__item--title {
  color: var(--color-gray);
}
.modal-bg .modal__link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-gray);
  font-weight: 300;
  display: flex;
  align-items: center;
}
.modal-bg .modal__link:hover {
  text-decoration: underline;
}
.modal-bg .modal__link-img {
  width: 20px;
  height: 20px;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
:root {
  --color-blue-light: hsla(0, 0%, 20%, 0.089);
  --color-blue: hsl(214, 78%, 53%);
  --color-white: hsl(36, 100%, 98%);
  --color-green: hsl(110, 57%, 31%);
  --color-gray:hsl(0, 0%, 20%);
  --color-gray-light: hsl(40, 16%, 80%);
}

body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  position: relative;
  width: clamp(340px, 100vw - 20px, 748px);
}

.not {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
