@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.navbar__logo-img {
  height: 2.5rem;
}
.navbar-user-btn {
  border-style: none;
  border-radius: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
}
.navbar-user-btn:hover {
  cursor: pointer;
}
.navbar-user-btn__title {
  display: none;
}
.navbar-user-btn__img {
  fill: var(--color-primary);
  transform: scale(2);
}

.post {
  height: calc(200px - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  color: white;
}
.post:hover {
  cursor: pointer;
}
.post__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.post__content {
  font-size: 0.9rem;
}
.post__content-focus {
  font-weight: 700;
  color: var(--color-primary);
}
.post__content-focus:hover {
  text-decoration: underline;
}
.post-gallery {
  background-image: url(../images/header-post-octubre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 262px;
  z-index: -2;
  top: 0;
  width: 100%;
  transform-origin: center;
  transform: scale(1.1);
}
.post-gallery::before {
  content: " ";
  z-index: -1;
  inset: 0;
  position: absolute;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%);
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search__input {
  background-color: var(--color-gray-light);
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  height: 35px;
  margin-top: 15px;
  padding: 2px 10px;
  width: calc(100% - 30px);
  outline: none;
}
.search__icon {
  height: 20px;
  margin-top: 24px;
  position: absolute;
  right: 12px;
  stroke: var(--color-gray);
  stroke-width: 3px;
}
.search-quick-options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}
.search-quick-options__option {
  align-items: center;
  border-style: none;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  justify-content: center;
  height: 100px;
  text-transform: uppercase;
  width: 32%;
  color: white;
}
.search-quick-options__option:nth-child(1) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/star-wars.jpg);
  background-size: cover;
  background-position: top -30px;
}
.search-quick-options__option:nth-child(2) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/diversos.jpg);
  background-size: cover;
  background-position: top -150px;
}
.search-quick-options__option:nth-child(3) {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0) 55%, rgb(0, 0, 0) 100%), url(../images/consolas.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-quick-options__option-icon {
  height: 30px;
  margin-bottom: 0.2rem;
  width: 30px;
  stroke-width: 2px;
}

.products__title {
  text-transform: uppercasegit;
  font-weight: 700;
  padding: 30px 0 30px 10px;
  border: 1px solid blue;
}
.products .product-container .product {
  width: 150px;
  margin-right: 30px;
  padding: 10px;
  background-color: var(--color-gray-light);
}
.products .product-container .product__img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.content-scroller {
  display: flex;
  overflow-x: auto;
}

:root {
  --color-primary:hsl(214, 78%, 53%);
  --color-gray-light: hsl(0, 0%, 96%);
  --color-gray: hsl(0, 0%, 64%);
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  width: clamp(340px, 100vw - 20px, 748px);
  margin: auto;
  position: relative;
  border: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
