@import 'variables';

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    .icon{
        height: 28px;
        width: 28px;
        &:hover{
            cursor: pointer;
        }
    }
    &-logo{
        &__logo{
            height: 38px;
        }
    }
    &-search-form{
        align-items: center;
        border: 1px solid orangered;
        background-color: $color-white;
        display: flex;
        justify-content: space-between;
        height: 50px;
        margin-left: -1px;
        position: absolute;
        width: calc(100% - 2px);
        .search-form{
            &__button{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 30px;
                width: 30px;
                background-color: transparent;
                border: none;
            }
            &__input{
                height: 24px;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
    .search-form{
        display: none;
    }
}

.post-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .post{
        &__media{
            height: calc(100vw / 3);
            max-height: 300px;
            width: clamp(340px, calc(100vw - 20px),  748px);
            border-radius: 10px;
            object-fit: cover;
        } 
        &-text{
            position: absolute;
            &__link{
                color: $color-white;
                text-decoration: none;
                text-align: center;
            }
            &__title{
                text-shadow: 1px 2px 7px black;
                font-weight: 900;
                font-size: 1.3rem;
                text-transform: uppercase;
            }
            &__content{
                font-size: .9rem;
                margin: auto;
                width: 70%;
                text-transform: uppercase;
                &--link{
                    width: -moz-fit-content;
                    width: fit-content;
                    margin: 5px auto;
                    padding: 2px 5px;
                    background-color: $color-blue;
                    border-radius: 3px;
                }
            }
        }
    }

}
