@import 'variables';

.products{
    &__title{
        &-link{
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $color-gray;
            font-weight: 300;
            font-size: 1.2rem;
            margin: 15px 0;
            &-img{
                width: 25px;
            }
        }
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-height: 250px;
        overflow-x: hidden;
        .product{
            margin: 15px;
            margin-top: 0;
            margin-left: 0;
            width: 152px;
            position: relative;
            height: min-content;
            &:nth-child(1){
                margin-left: 0;
            }
            &__mark{
                position: absolute;
                right: 8px;
                top: 5px;
                width: 20px;
                height: 20px;
                background-image: url("../images/icons/alike.svg");
                &--like{
                    background-image: url("../images/icons/like.svg");
                }
                &:hover{
                    cursor: pointer;
                }
            }
            &__preview{
                border-radius: 10px;
                object-fit: cover;
                -webkit-user-select: none;
                user-select: none;
                width: 152px;
                height: 152px;
            }
            &-content{
                padding: 10px;
                &__price-before{
                    font-weight: 300;
                    font-size: .7rem;
                    text-decoration: line-through;
                }
                &__price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 5px 0;
                    font-size: 1.05rem;
                }
                &__descount{
                    font-size: .7rem;
                    color: $color-green;
                }
                &__details{
                    font-weight: 300;
                    font-size: .8rem;
                    line-height: 1.2rem;
                    height: 20px;
                    overflow: hidden;
                }
            }
        }
        @media screen and (min-width: 1025px) {
            min-height: 275px;
        }

    }
    &-scroller{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        @media screen and (min-width: 1025px) {
            flex-wrap: wrap;
            overflow-y: hidden !important;
            overflow-x: hidden !important;
        }
        .card-view{
            margin: 20px;
            margin-top: 0;
            margin-left: 0;
        }
    }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  