@import 'variables';

.products{
    &__title{
        align-items: center;
        display: flex;
        font-weight: 700;
        height: 80px;
        padding-left: 20px;
        text-transform: uppercasegit;
    }
    .product-container{
        height: 280px;
        .product{
            background-color: $color-gray-light;
            border-radius: 20px;
            margin-right: 30px;
            padding: 10px;
            height: 220px;
            width: 150px;
            &__img{
                border-radius: 10px;
                height: 150px;
                object-fit: cover;
                width: 150px;
            }
        }
    }
}

.content-scroller{
    display: flex;
    align-items: center;
    overflow-x: auto;
}