$color-blue-light: var(--color-blue-light);
$color-blue: var(--color-blue);
$color-white: var(--color-white);
$color-green: var(--color-green);
$color-gray: var(--color-gray);
$color-gray-light: var(--color-gray-light);
$font-family: 'Roboto', sans-serif;