$color-blue-light: var(--color-blue-light);
$color-blue: var(--color-blue);
$color-blue-op: var(--color-blue-op);
$color-white: var(--color-white);
$color-green: var(--color-green);
$color-green-op: var(--color-green-op);
$color-red: var(--color-red);
$color-red-op: var(--color-red-op);
$color-gray: var(--color-gray);
$color-gray-light: var(--color-gray-light);
$font-family: 'Roboto', sans-serif;