$color-primary: var(--color-primary);
$color-secundary: var(--color-secundary);
$color-gray: var(--color-gray);
$color-gray-light: var(--color-gray-light);
$color-gray-very-light: var(--color-gray-very-light);
$color-line: var(--color-line);
$color-white: var(--color-white);
$font-family: 'Raleway', sans-serif;